.tableContainer {
  margin: 0 auto;
  width: 100%;
  max-width: $maxWidth;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 5px 10px;
  grid-template-areas:
    ". . ."
    ". . .";
}
